@import "../../styles/variables";

.section_cart {
  background: $bg-color;
  font-family: $main-font;
  padding: 1rem 1.5rem;

  .container_cart {
    width: min(1200px, 100%);
    margin: auto;

    .title {
      font-size: 2rem;
      font-weight: bold;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .all_cart_items {
      display: flex;
      flex-direction: column;

      
    }
  }
}
