@import "../../styles/variables";

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $primary-color;
  padding: 1rem;
  border-bottom: 2px solid $white;
  box-shadow: 0 0px 6px rgba(255, 255, 255, 0.5);

  .header_container {
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 2rem;
      margin: 0;
      color: $white;
      cursor: pointer;
    }
  }
}

.back {
  position: absolute;
  top: 100px;
  left: 12px;
  width: min(1200px, 100%);
  margin: auto;

  button {
    color: $primary-color;
    font-size: 1rem;
    background: none;
    border: none;
    font-weight: bold;
    padding: 1.5rem;
    transition: all 0.3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.form_log {
  display: flex;
  align-items: center;
  height: 100dvh;
  background-color: $primary-color;

  .form_log_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1300px;
    background-color: $white;
    padding: 2rem;
    box-shadow: 0 0px 6px rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;

    @media (min-width: 1000px) {
      padding: 8rem;
      width: 50%;
    }

    h2 {
      margin-bottom: 1.5rem;
      text-align: center;
      color: $primary-color;
    }

    form {
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 0.5rem;
        color: $text-color;
      }

      .email_input {
        padding: 0.5rem;
        margin-bottom: 1rem;
        border: 1px solid rgb(180, 126, 126);
        border-radius: 4px;

        &:focus {
          border-color: $primary-color;
          outline: none;
        }
      }

      .password_container {
        position: relative;
        margin-bottom: 1rem;
        border-radius: 4px;
        display: flex;
        align-items: center;

        .password_input {
          padding: 0.5rem;
          width: 100%;
          border: 1px solid rgb(180, 126, 126);
          border-radius: 4px;

          &:focus {
            outline: none;
            border-color: $primary-color;
          }
        }
        .eye_container {
          position: absolute;
          top: 50%;
          right: 0.5rem;
          transform: translateY(-50%);
          display: flex;
          align-items: center;
          cursor: pointer;
          border: none;

          .eye {
            color: $primary-color;
            width: 100%;
            height: 100%;
            &:hover {
              color: darken($primary-color, 20%);
            }
          }
        }
      }

      .btn_enter {
        padding: 0.75rem;
        background-color: $primary-color;
        color: $white;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }
    }

    .register_link {
      margin-top: 1rem;
      text-align: center;

      .btn_change_form {
        color: $primary-color;
        border: none;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
