@import "../../../styles/variables";

.carrosel {
  position: relative;
  width: min(1200px, 100%);
  margin: 1rem auto;
  padding: 1rem;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, $secondary-color, $primary-color);
  transition: all 0.3s ease;
  cursor: pointer;

  .carrosel_image {
    height: 90%;
    aspect-ratio: 1/1;
    display: block;
    object-fit: contain;
  }

  &:hover .arrows {
    opacity: 1;
  }

  .arrows {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    gap: 1rem;
    opacity: 0;
    transition: all 0.3s ease;


    .arrow_left, .arrow_right {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      background-color: $white;
      border: none;
      color: $primary-color;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      opacity: 0.6;
      transition: all 0.3s ease;

      &:hover {
        background-color: $primary-color;
        color: $white;
        border: 1px solid $white;
        transform: scale(1.1);
        opacity: 1;
      }
    }
  }
}
