@import "../../styles/variables";

.footer {
  background-color: $primary-color;
  color: $white;
  padding: 20px;
  text-align: center;

  p {
    margin: 0;
    font-size: 14px;
  }

  .links {
    margin-top: 10px;
  }

  a {
    color: $white;
    text-decoration: none;
    margin: 0 10px;

    &:hover {
      text-decoration: underline;
    }
  }
}